* {
  margin: 0;
  padding: 0;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.first-header {
  max-width: 1400px;
  margin: auto;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .menu {
  display: flex;
  list-style-type: none;
  gap: 35px;
}
nav .menu a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}

.btn {
  background-color: #30b868;
  border: none;
  color: white;
  padding: 12px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}
