* {
  margin: 0;
  padding: 0;
}
.inter-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.first-header {
  max-width: 1400px;
  margin: auto;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .menu {
  display: flex;
  list-style-type: none;
  gap: 35px;
}
nav .menu a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}

.btn {
  background: #30b868;
  border: none;
  color: #f7e6e6;
  padding: 12px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.banner {
  height: 670px;
  background: url("./assets/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text {
  text-align: center;
  max-width: 720px;
}

.badge {
  background: #ffffff;
  padding: 8px 12px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 25px;
}

.banner-text h1 {
  color: white;
  font-size: 44px;
}

.banner-text span {
  color: #22c55e;
}

.banner-text p {
  margin: 22px 0;
  color: #d1d5db;
}

.third-btn {
  display: flex;
  gap: 16px;
  justify-content: center;
}

#brain {
  padding-top: 130px;
}

#brain .brain-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

.brain-heading {
  text-align: center;
  max-width: 827px;
  margin: 0 auto 60px;
}

.brain-heading h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.brain-heading p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}

.brain-box {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: nowrap;
}

.brain-card {
  width: 340px;
  height: 260px;
  padding: 24px;
  box-shadow: 0 6px 50px 0 #00000029;
  text-align: center;
}

.icon-wrap {
  width: 60px;
  height: 60px;
  background: #f95555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}

.icon-wrap img {
  width: 32px;
  height: 32px;
}

.brain-card h3 {
  font-size: 20px;
  color: #181818;
  margin-bottom: 15px;
}

.brain-card p {
  font-size: 16px;
  color: #757575;
  line-height: 28px;
}

.brain-section {
  padding: 100px 0;
}

.brain-section .brain-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  gap: 80px;
  align-items: center;
}

.brain-left img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.tag {
  color: #22c55e;
  font-size: 14px;
}

.brain-right p {
  color: #6b7280;
  margin: 20px 0;
}

.feature-list {
  list-style: none;
  padding: 0;
}

.feature-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.feature-list li img {
  width: 20px;
  height: 20px;
}

.early-access-section {
  text-align: center;
  background-color: #f7f6f2;
  padding: 80px 40px;
}
.early-access-container p {
  padding: 15px 0;
  color: #627382;
}
